@charset "UTF-8";

:root{
    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Rubik Mono One", monospace, sans-serif;
}


html, body{
    overflow-x: hidden;
    background-color:black;
}


header h1{
    text-align: center;
    font-family: var(--fonte-destaque);
    color: white;
    padding-bottom: 10px;
}

.logo{
    width: 35vw;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

.galeria{
    overflow-x: scroll;
    display: flex;
}

.galeria::-webkit-scrollbar{
    display: none;
}

.galeria img{
    background-size: cover;
    flex-basis: 300px;
    position: relative;
    transition: 400ms all ease;
    filter: grayscale(100%) opacity(35%);

    width: 40vw;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px darkred;
}


.galeria img:hover{
    flex-basis: 400px;
    filter: grayscale(0%) opacity(100%);

}

form{
    background-color: rgba(0, 0, 68, 0.333);
    display: block;
    margin: auto;
    border: 1px solid darkred;
    color: antiquewhite;
    width: 50vw;
    margin-top: 50px;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

form h2, p{
    padding-top: 20px;
    text-align: center; ;
    font-family: var(--fonte-destaque);
}


input{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

img{
    width: 30vw;
    justify-content: center;
    display: flex;
    margin: auto;
}