@charset "UTF-8";

:root{
    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Rubik Mono One", monospace, sans-serif;
}


html, body{
    overflow-x: hidden;
    background-color:black;
}


header img{
    width: 35vw;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

header h3{
    color: white;
    text-align: center;
}

nav{
    /* background-color: #3C3D40; */
    background-color: darkred;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav > ul > li a{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

nav a:hover{
    color: white;
    border-radius: 15px;
    transition-duration: 1.0s;
    background-color: darkblue;
}

main img{
    display: flex;
    margin-left: 15vw;
    padding-top: 50px;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

section h2{
    color: white;
}
section h2:hover{
    color: rgb(0, 102, 255);
    transition-duration: 1.3s;
}

section > p{
    padding-bottom: 1em;
    color: white;
}

section.imagem{
    background-color: #3C3D40;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.46);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/pexels-francesco-ungaro-998641.jpg);
    background-position: right, center;
    background-size: cover;
}

section#img02{
    background-image: url(../imagens/pexels-francesco-ungaro-998641.jpg);
    background-size: cover;
}

footer {
    background-color: rgba(105, 105, 105, 0.273);
    padding: 20px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    html, body{
        width: 100vw;
        height: 100vh;
    }

}
